/*
Theme Name:		 Twenty Seventeen Child
Theme URI:
Description:
Author:
Author URI:
Template:		 twentyseventeen
Version:		 1.0.0
Text Domain:	 twentyseventeenchild
Tags: theme-options


-------------------------------------------------------------- */


/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/

@font-face {
  font-family: 'pacificoregular';
  src: url('assets/font/pacifico-webfont.eot');
  src: url('assets/font/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/font/pacifico-webfont.woff2') format('woff2'),
  url('assets/font/pacifico-webfont.woff') format('woff'),
  url('assets/font/pacifico-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Raleway', Helvetica, Verdana, sans-serif;
}

h2 {
  color: #222;
}

.page .panel-content .entry-title,
.page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
  text-transform: none;
}

.twentyseventeen-panel {
  overflow: visible;
}


/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

.site-branding {
  padding: 2.5em 0 1em;
  text-align: center;
}

.has-header-image.twentyseventeen-front-page .site-branding,
.has-header-video.twentyseventeen-front-page .site-branding,
.has-header-image.home.blog .site-branding,
.has-header-video.home.blog .site-branding {
  vertical-align: top;
}

.site-title {
  font-family: 'pacificoregular', 'Brush Script MT', cursive;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0.0em;
}

body.has-header-image .site-description,
body.has-header-video .site-description {
  opacity: 1;
}

.site-header .menu-scroll-down .icon {
  transform: none;
}

.site-title {
  font-size: 3.8rem;
}

.site-description {
  font-size: 1.8rem;
  margin-top: 1.6rem;
}

/*--------------------------------------------------------------
Features Section
--------------------------------------------------------------*/

.feature-card {
  text-align: center;
  margin: 0 0 8%;
}

.phone-mockup {
  width: 60%;
  margin: 0 auto 8% auto;
}

/*--------------------------------------------------------------
Video Section
--------------------------------------------------------------*/


.os-list {
  list-style: none;
  padding-left: 0;
}

.os-list > li {
  display: inline-block;
  padding-right: 0.8em;
}

.os-list > li .os-list-link {
  display: inline-block;
  border-radius: 45px;
  box-shadow: none;
  height: 45px;
  width: 45px;
  background-color: lightgray;
}
.os-list > li .os-list-link:hover {
  background-color: #333;
}

.os-list-link svg {
  display: block;
  height: 24px;
  position: relative;
  top: 9px;
  width: 24px;
  margin-left: auto;
  margin-right: auto;
  fill: #fff;
}


/*--------------------------------------------------------------
Testimonials Section
--------------------------------------------------------------*/

.panel-testimonials-content .wrap {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.testimonials-thumbnail {
  width: 10%;
  float: left;
  cursor: pointer;

}
.testimonials-thumbnail img {
  display: block;
  filter: grayscale(100%);
}
.testimonials-card {
  position: absolute;
  top: 1.75em; /* same as .wrap padding */
  background: #fff;
  right: 0;
  left: 0;
  min-height: 120px;
}

.testimonials-item:first-child > .testimonials-card {
  position: relative;
  top: 0;
  margin-bottom: 4%;
}

/*.testimonials-item:hover > .testimonials-card {
z-index: 3;
}*/

.testimonials-item-active > .testimonials-card {
  z-index: 2;
}

.testimonials-item-active > .testimonials-thumbnail img {
  filter: grayscale(0);
}

.testimonials-item:hover > .testimonials-thumbnail img {
  filter: grayscale(0);
}
.testimonials-card-text {
  font-size: 18px;
  font-size: 1em;
  quotes: "“" "”" "‘" "’";
  padding-bottom: 0.8em;
  text-align: center;
}

.testimonials-card-text p:before {
  content: open-quote;
}

.testimonials-card-text p:after {
  content: close-quote;
}

.testimonials-card-person {
  text-align: center;
  font-size: 14px;
  font-size: 0.8em;
}

.testimonials-card-name:after {
  content: ',';
}
.testimonials-card-name {
  font-weight: 600;
}
.testimonials-card-occupation {
  font-weight: 400;
}


/*--------------------------------------------------------------
Contact section
--------------------------------------------------------------*/

.panelcontact-title,
.panelcontact-text,
.menu-social-links-container {
  text-align: center;
}

.panelcontact-title {
  font-size: 26px;
  font-size: 1.6rem;
}
.panelcontact-text {
  font-size: 22px;
  font-size: 1.2rem;
}

.panelcontact-links {
  float: none;
  width: auto;
}

.social-links-menu {
  display: inline-block;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.social-links-menu > li {
  display: inline-block;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.social-links-menu > li svg {
  height: 1.6em;
  width: 1.6em;
}
.social-links-menu > li a {
  margin-left: 0.3em;
  margin-right: 0.3em;
}


/*--------------------------------------------------------------
Media Queries
--------------------------------------------------------------*/


@media screen and (min-width: 30em) {

  .page-one-column .panel-content .wrap {
    max-width: 1190px;
  }

  h2, .home.blog .entry-title,
  .page .panel-content .recent-posts .entry-title,
  .page .panel-content .entry-title, .page-title,
  body.page:not(.twentyseventeen-front-page) .entry-title {
    font-size: 24px;
    font-size: 1.525rem;
    font-weight: 600;
    letter-spacing: initial;
  }

  /* Testimonials */
  .testimonials-card {
    top: 63px; /* same as .wrap padding */
  }

  .testimonials-card-text {
    font-size: 21px;
    font-size: 1.3rem;
  }
}


@media screen and (min-width: 48em) {


  /* switch to multi column */

  .features-leftcol, .features-rightcol {
    width: 29%;
  }
  .features-leftcol {
    float: left;
  }
  .features-rightcol {
    float: right;
  }
  .features-centercol {
    width: 42%;
    float: left;
  }

  .feature-card {
    text-align: left;
    /*margin: 0 10% 8% 10%;*/
  }

  .phone-mockup {
    position: relative;
    margin-top: -75%;
    /*margin-top: -394px;*/
    z-index: 3;
    padding: 0 8px;
    width: 100%;
  }

  /* Header */

  .custom-header-media {
    min-height: 640px;
  }

  .site-branding {
    margin-bottom: 1rem;
  }

  .site-title {
    font-size: 3.8rem;
  }
  .site-description {
    font-size: 2.2rem;
    margin-top: 2.7rem;
  }

  .has-header-image.twentyseventeen-front-page .site-branding,
  .has-header-video.twentyseventeen-front-page .site-branding,
  .has-header-image.home.blog .site-branding,
  .has-header-video.home.blog .site-branding {
    bottom: auto;
    top: 7rem;
  }

  .feature-text {
    margin-bottom: 3.6em;
  }

  /* Scroll down arrow */
  .site-header .menu-scroll-down {
    display: inline-block;
    padding: 2em 1em 1em;
    position: static;
  }

  /* switch two columns layout for video section */
  .video-panel-content-text {
    width: 50%;
    float: left;
  }

  .video-panel-content-video {
    width: 42%;
    float: right;
  }

  /* Testimonials */
  .testimonials-card {
    top: 96px; /* same as .wrap padding */
  }

  .testimonials-card-text {
    font-size: 26px;
    font-size: 1.6rem;
  }

  .testimonials-card-person {
    text-align: center;
    font-size: 18px;
    font-size: 1em;
  }

}


@media screen and (min-width: 67em) {

  .features-wrap {
    padding-top: 4em;
    padding-left: 4em;
    padding-right: 4em;
  }

}


@media screen and (min-width: 75em) {

  /* larger video section */
  .video-panel-content .wrap{
    padding-left: 0;
    padding-right: 0;
  }

}
